<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=.;Initial Catalog=reference-foundation.Cms;Integrated Security=False;User ID=epi;Password=p==tvj6kAHS%_!Ep;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EcfSqlConnection" connectionString="Data Source=.;Initial Catalog=reference-foundation.Commerce;Integrated Security=False;User ID=epi;Password=p==tvj6kAHS%_!Ep;Connect Timeout=10;Application Name=ECApplication" providerName="System.Data.SqlClient" />
</connectionStrings>